* {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter";
  color: grey;
}

a {
  text-decoration: none;
  color: black;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 4px 20px;
}

h1 {
  font-size: 3em;
  background-color: grey;
  color: white;
  padding: 20px 50px;
}

header h2 {
  font-size: 1.5em;
  padding: 20px 50px;
  line-height: 40px;
}

h3 {
  font-size: 1em;
  padding: 20px 50px;
}

.pop_select {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
}

.pop_select a {
  margin-right: 20px;
}

table {
  margin: 0 50px;
  text-align: left;
}

table tr th {
  padding: 40px 16px 20px 0;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid grey;
}

table tr td {
  padding-left: 20px;
  border-bottom: 2px solid grey;
  border-right: 2px dotted grey;
}

table tr td:last-child {
  border-right: none;
}

footer {
  height: 140px;
  background-color: grey;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

form button {
  text-decoration: none;
  color: black;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 4px 20px;
  background-color: white;
  font-size:1em;
  margin-top: 40px;
}

form label {
  text-decoration: none;
  color: black;
  padding: 30px 60px 30px 0;
  background-color: white;
  font-size:1em;
}
