<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>US cities population density</title>
    <link rel="stylesheet" href="/master.css" media="screen" title="no title">
  </head>
  <body>
    <header>
      <h1>US cities population density</h1>
      <h2>Analyzing population movments defined by us government <br /><a href="https://en.wikipedia.org/wiki/Core-based_statistical_area" target="_blank">core-based statistical areas</a></h2>
      <h3>download <a href="http://www.census.gov/population/metro/data/pop_data.html" target="_blank">csv datasests</a> from the US Cenus Bureau or <a href="https://data2.nhgis.org/main" target="_blank">nhgis</a> </h3>
    </header>
    <section role="main" class="main">
      <div class="pop_select">
        <form class="checkbox" action="population_form" method="post">
          <input type="checkbox" name="less_than_250k">
          <label for="less_than_250k"> > 250k people</label>
          <input type="checkbox" name="between_250k_500k">
          <label for="less_than_250k"> 250k - 500k people</label>
          <input type="checkbox" name="between_500k_1mil">
          <label for="less_than_250k"> 500k - 1mil people</label>
          <input type="checkbox" name="more_than_1mil">
          <label for="less_than_250k"> 1mil+ people</label>
          <br />
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
      <%== yield %>
  </body>
  <footer></footer>
</html>
